//COLORS

$color-primary: #23262D;
$color-secondary: #CEE002;
$color-secondary-2: #CED41E;

$color-font: #828282;
$color-font-2: #707172;

$color-white: #fff;

$color-border-grey: #393C42;
//FONTS 

$font-primary: 'Roboto', sans-serif;